<section class="w-full pt-5 divide-y-2 divide-blue-700 height">
  <div class="">
    <div class="flex flex-col gap-1 my-5">
      <div class="flex text-muted-foreground items-center gap-2 py-2">
        <a class="" [routerLink]="['/']">
          Home
        </a>
        <ng-icon name="heroChevronDoubleRight" class="text-muted-foreground"></ng-icon>
        <a class="" [routerLink]="['/blog']">
          Blog
        </a>
      </div>
      <h2 class="text-lg font-bold tracking-normal text-foreground capitalize">
        Post
      </h2>
      <p class="text-secondary-foreground">
        All the articles I've posted.
      </p>
    </div>
    <div class="py-2 flex items-center gap-3 flex-wrap w-lg">
      @for(tag of allTags; track tag){
      <a [routerLink]="['/']" class="text-base font-mono underline decoration-dashed decoration-foreground text-secondary-foreground">
        <span class="text-muted-foreground">#</span> {{ tag }}
      </a>
      }
    </div>
    <div class="py-5 flex flex-col gap-4">
      @for( blog of blogList;track blog.slug){
      <app-blog-list
        [blogpost]="blog"
        ></app-blog-list>
      }
    </div>
  </div>
</section>