<section class="w-full py-5">
  <div class="flex items-center gap-2">
    <ng-icon name="heroChevronLeft"></ng-icon>
    <p>
      Go back
    </p>
  </div>
  <h2 class="">{{ blogpost.title }}</h2>
  <div class="flex items-center gap-3">
    <ng-icon name="heroCalendarDays" class="text-2xl text-gray-800"></ng-icon>
    <p class="text-gray-600 text-[16px] italic">
      {{ formateDate(blogpost.pubDatetime) | date }}
    </p>
  </div>
  <markdown class="prose" [data]="formate()"></markdown>
  <div class="flex items-center justify-between">
    <div class="">
      <p>
        Share this post on:
      </p>
      <div class="flex items-center gap-5 py-2">
        @for(icon of socialLinks; track trackByUrl){
        <a [href]="icon.url">
          <ng-icon [svg]="icon.icon" class="text-3xl"></ng-icon>
        </a>
        }
      </div>
    </div>

    <div class="self-end place-self-end flex items-center gap-1.5">
      <ng-icon name="heroChevronUp"></ng-icon> Back to Top
    </div>
  </div>
</section>