<div class="w-full h-full flex justify-center items-center">
    <form action="" class="w-full flex flex-col gap-2 pt-3" [formGroup]="addForm">
        <label for="title" class=""class="form-label">
            Post title:
            <input type="text" formControlName="title" placeholder="Blog Title" class="form-input">
        </label>
        <label for="description"class="form-label">
            post description
            <input type="text" formControlName="description" placeholder="Blog Description" class="form-input">
        </label> 
        <label for="content" class="form-label">
            post content
            <textarea formControlName="content" placeholder="Blog Content" id="" rows="10" class="form-input "></textarea>
        </label>
        <label for="tags"class="form-label">
            post tags
            <input type="text" formControlName="tags" placeholder="Blog Tags" class="form-input">
        </label>
    </form>
</div>