<div class="w-full h-full flex justify-center items-center">
    <form action="" class="w-full flex flex-col gap-2 pt-3">
        <label for="title" class=""class="form-label">
            Post title:
            <input type="text" name="title" placeholder="Blog Title" class="form-input">
        </label>
        <label for="description"class="form-label">
            post description
            <input type="text" name="description" placeholder="Blog Description" class="form-input">
        </label> 
        <label for="content" class="form-label">
            post content
            <textarea name="content" placeholder="Blog Content" id="" rows="10" class="form-input "></textarea>
        </label>
        <label for="tags"class="form-label">
            post tags
            <input type="text" name="tags" placeholder="Blog Tags" class="form-input">
        </label>
    </form>
</div>