<div class="h-full max-h-max">
  <div class="flex flex-col gap-1 my-5">
    <div class="flex text-muted-foreground items-center gap-2 py-2">
      <a class="" [routerLink]="['/']">
        Home
      </a>
      <ng-icon name="heroChevronDoubleRight" class="text-muted-foreground"></ng-icon>
      <a class="" [routerLink]="['/blog']">
        Search
      </a>
    </div>
    <h2 class="text-[24px] font-bold tracking-normal text-foreground capitalize">
      search
    </h2>
    <p class="text-secondary-foreground">
      Search any article ...
    </p>

  </div>
  <div class="relative mb-6">
    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
      <ng-icon name="octSearch" class="text-xl dark:text-foreground"></ng-icon>
    </div>
    <input type="search" class="bg-input border border-border text-foreground text-sm rounded focus:ring-ring focus:border-primary block w-full ps-10 p-2.5 py-4 placeholder:text-muted-foreground placeholder:text-lg" placeholder="Search for anything...">
  </div>
</div>